
@import "node_modules/bootstrap/scss/bootstrap";


$light-grey : #575E68;
$dark-grey :#323438;
$light-green:#5ff475;
$dark-green:#299939;
$theme-colors: (
  "primary": $light-green,
  "danger": $light-green
);

h5{
  font-weight: 300;
}
hr{
  color: $dark-green;
}
body{
  background-color: $dark-grey;
}

#derivative-calculator-wrapper {
  margin: 0;
  padding: 5em 3em ;
  text-align: left;
  width:100%;
}
#calculator-wrapper{
  width:45%;
  padding: 10px;
  min-width: 375px;
}
#calculator{
  max-width: 100%;
  position:relative;
  width:100%;
  background-color: $light-grey;
}


#input-first-helper{
  color:red;  
  position: absolute;
}
#operators{
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
          transition: all .4s ease-in-out;
}

#operators div{
  margin:0 0.2em;
}

#show-examples-button{
}
#calculator-input-button-wrapper{
  margin:20px 0;
   button{
  margin-right: 30px;
   }
}
#examples{
  display: none;
  margin: 10px 0;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
     -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
#examples.show{
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
}
#examples .example{
  font-size: 18px;
  padding: 2px 5px;
  border:1px solid black;
  cursor: pointer;  
  margin:3px 3px;
      -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
       -o-transition: all .4s ease-in-out;
}
#examples .example:hover{
  background-color: #000;
  color:#fff;
}
.mathjax-container{
  overflow-x:scroll;
}
.MJXc-display{ 
    text-align: center !important;
    /*display: inline !important;*/
}


#results-wrapper{
  padding: 10px;
  width:45%;
  text-align: left;
  min-width: 375px;
}
#result{
  width:100%;
  max-width: 100%;
  background-color:$light-grey;
}
#rules-used{
  margin-left:1em;
  margin-bottom: 2em;
}
#derivative-calculator-errors{
  color:red;
}
#graph-section{
  width:100vw;
}
#graph{
  width:100%;
}
#quadratic{
  background:white;
}